---
import Welcome from "../components/Welcome.astro"
import Section from "../components/Section.astro"
import ServicesSection from "../components/ServicesSection.astro"
import Ratings from "../components/Ratings.astro"
import Gallery from "../components/Gallery.astro"
import Map from "../components/Map.astro"
import Layout from "../layouts/Layout.astro"

const sections = [ServicesSection, Ratings, Gallery, Map]
---

<Layout
	title="Vizfő Kabin - Prémium pihenés"
	description="Fedezd fel a Bükk hegység szépségeit"
>
	<Welcome />
	{
		sections.map((Component, i) => (
			<Section index={i}>
				<Component />
			</Section>
		))
	}
</Layout>
