---
import logo from '../assets/images/logos/default.svg';
---

<header class="absolute top-0 left-0 w-full z-10 py-3 px-6 bg-black shadow-md">
	<a href="/">
		<img src={logo.src} alt="Logo" class="h-16" />
	</a>
</header>
