---
import defaultLogo from '../assets/images/logos/default.svg';
---

<div class="w-3/4 flex justify-center">
	<img src={defaultLogo.src} alt="" class="w-[50%] h-auto drop-shadow-[0_0_10px_rgba(0,0,0,0.8)]" />
</div>
